
.box-shadow {
  -webkit-box-shadow: 0 0 12px #e2e2e2 !important;
  -moz-box-shadow: 0 0 12px #e2e2e2 !important;
  box-shadow: 0 0 12px #e2e2e2 !important;
}

#root:not(:empty) + .preloader {
  display: none; }

.preloader {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a;
  text-align: center; }
  .preloader .indicator {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(6);
    text-align: center; }
  .preloader .indicator svg polyline {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round; }
  .preloader .indicator svg polyline#back {
    stroke: rgba(225, 0, 0, 0.3); }
  .preloader .indicator svg polyline#front {
    stroke: #FF0000;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48px;
    animation: dash 1s linear infinite; }
  .preloader .loading-text {
    position: absolute;
    text-align: center;
    margin-top: -4px;
    width: 100%;
    color: #fff;
    font-size: 2px;
    font-family: "Eina03", "robotoregular", sans-serif;
    letter-spacing: 3px;
    line-height: 10px;
    height: 10px;
    -webkit-animation: fade 1.5s ease 0s infinite;
    animation: fade 1.5s ease 0s infinite; }

@-moz-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@-o-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
